body{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%); 
    left: 40%;
 }
 div{
     text-align: center;
 }
 h1{
     font-size: 5em;
     color: blue;
 }
 p{
     font-size: 2em;
     color: red;
 }
 span{
    margin: 0 0.5em 0 0.5em;
    color: blue;
 }
 button{
     background-color: #0071e3;
     border: 0;
     color: white;
     border-radius: 0.8em;
     padding: 0.4em 0.5em 0.4em 0.5em;
     font-size: 2em;
 }
 button:hover{
     cursor: pointer;
     background-color: #127be4e3;
 }
 .grid-container{
     display: grid;
     grid-template-columns: auto auto auto;
     column-gap: 10px;
     row-gap: 10px;
     margin: 1em 0 1em 0;
 }
 .clickable-tile{
     border: 1px solid black;
     border-radius: 0.8em;
     padding: 2em 1em 2em 1em;
 }
 .clickable-tile:hover{
     cursor: pointer;
     background-color: grey;
 }
